html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="author" content="dough10")
    meta(name="csrf-token" content=csrf)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    link(nonce=nonce rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css")
    script(nonce=nonce, type="text/javascript") window.user = !{JSON.stringify(user)};
  body
    h1 shitty blog
    ul
      each post in posts
        li(
          data-id=post.id
          data-title=post.title
        ) #{post.id}: #{post.title}
      else
        li No posts
