html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="author" content="dough10")
    meta(name="csrf-token" content=csrf)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")

    script(src="https://cdn.jsdelivr.net/npm/chart.js" nonce=nonce)

    script(nonce=nonce).
      window.user = !{JSON.stringify(user)};
      window.requests = !{JSON.stringify(requests || { time: [], counts: [] })};
    link(rel="preload" href="dashboard.min.css" as="style")
    link(rel='stylesheet' href='dashboard.min.css')

  body
    header
      h1 dashboard

    main
      label(for="hours") Time:
      select#hours(name="hours")
        option(value=1) 1 hour
        option(value=6) 6 hours
        option(value=12) 12 hours
        option(value=24 selected) 24 hours
        option(value=48) 2 days
        option(value=720) 30 days
      canvas#requests

    script(nonce=nonce src=dashboard.min.js async)