html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="author" content="dough10")
    meta(name="csrf-token" content=csrf)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    link(nonce=nonce rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css")
    style(nonce=nonce).
      body {
        padding: 16px;
      }
      form {
        max-width: 500px;
      }
  body
    h1 Welcome #{user.firstName} #{user.lastName}

    form(method="POST")
      div
        label(for="id") ID
        input#id(type="text" name="id")
      
      div
        label(for="title") Title
        input#title(type="text" name="title")

      div
        label Paragraphs

        #paragraph-container
          input(type="text" name="paragraphs[]")

        button#add-paragraph(type="button") Add Paragraph

      br
      button(type="submit") Submit

    button(type="button" disabled) delete

    h4 Active Alerts
    ul
      each alert in alerts
        li(
          data-version=alert.version 
          data-id=alert.id
          data-title=alert.title
          data-p=JSON.stringify(alert.paragraphs)
        ) #{alert.id}: #{alert.title}
      else
        li No active alerts

  script(nonce=nonce).
    let selectedAlert = null;

    function opt(body = null) {
      const options = {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]')?.content
        }
      };

      if (body && body instanceof HTMLFormElement) {
        options.body = new FormData(body);
      } else if (body && typeof body === 'object') {
        options.headers['Content-Type'] = 'application/json';
        options.body = JSON.stringify(body);
      }

      return options;
    };

    function addParagraph(ev, value = null, container) {
      if (ev) ev.preventDefault();

      const input = document.createElement('input');
      if (value) input.value = value;
      input.type = 'text';
      input.name = 'paragraphs[]';

      container.append(document.createElement('br'), input);
    }

    window.addEventListener('DOMContentLoaded', () => {

      const form = document.querySelector('form');
      const add = document.getElementById('add-paragraph');
      const container = document.getElementById('paragraph-container');
      const del = document.querySelector('button[type="button"]');

      form.addEventListener('submit', async (ev) => {
        ev.preventDefault();

        const data = {
          id: form.id.value,
          title: form.title.value,
          paragraphs: [...document.querySelectorAll('[name="paragraphs[]"]')]
            .map(input => input.value).filter(Boolean)
        };

        if (!data.id || !data.title || data.paragraphs.length < 1) {
          return alert('id, title and 1 or more paragraphs are required');
        }

        const res = await fetch('/addAlert', opt(data));

        if (!res.ok) return alert('Submit Failed');
        window.location.href = window.location.href;
      });

      add.addEventListener('click', ev => addParagraph(ev, null, container));

      del.addEventListener('click', async _ => {
        const res = await fetch('/dismissAlert', opt({
          id: selectedAlert.dataset.id,
          version: selectedAlert.dataset.version
        }));
        if (!res.ok) return alert('Failed to dismiss alert');
        window.location.href = window.location.href;
      });

      [...document.querySelectorAll('ul>li')].forEach(alert => {
        alert.addEventListener('click', () => {
          selectedAlert = alert;

          form.id.value = alert.dataset.id;
          form.title.value = alert.dataset.title;

          container.replaceChildren();

          const paragraphs = JSON.parse(alert.dataset.p);
          for (const p of paragraphs) {
            addParagraph(null, p, container);
          }

          del.disabled = false;
        });
      });


    }); 